.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    margin-left: 3%;
}
.icon:hover {
    transform: scale(1.2);
  }
.licon:hover {
    transform: scale(1.2);
  }

a, .me,.heading, .modal-title {
    font-family: "Arial Black";
}
.center {
    text-align: center;
}
.heading {
    font-size:300%;
}
p, strong, li, label, input, #aboutme {
    font-family: "Comic Sans MS";
}
#aboutme {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: none;
    font-size:130%;
    margin-right: 15%;
    margin-left: 15%
}
@media screen and (max-width: 600px) {
    #aboutme {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
        -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
        -moz-column-rule-style: solid; /* Firefox */
        column-rule-style: none;
        font-size:130%;
        margin-right: 15%;
        margin-left: 15%
    }
    p {
        text-align: center;
    }
    
}



body {
    position: relative; 
}
footer {
    padding-top:20px;
    color: white; 
    background-color:#0197ba;
}
.footer {
    font-size: 110%;
    font-family: "Comic Sans MS";
    color: white
    
}

#home {
    padding-top:100px;
    padding-bottom:100px;
    color: #fff; 
    background-color: #0197ba;
}
/*This below make section two responsive*/
#portfolio {
    padding-top:100px;
    padding-bottom:150px;
    color: #fff; 
    background-color: #00688B;
}
#column1, #column4{
    margin-left: 5%;
}

@media screen and (max-width: 815px) {
    #portfolio {
        padding-top:100px;
        padding-bottom:150px;
        color: #fff; 
        background-color: #00688B;
    }
    #column1, #column4{/*removes the margin gent it change to two column based on size*/
        margin-left: 0%;
    }
}


#about {
    padding-top:100px;
    padding-bottom:150px;
    color: #fff; 
    background-color: #0197ba;
}
#contact {
    padding-top:100px;
    padding-bottom:150px;
    color: #fff; 
    background-color: #00688B;
}


/*Contacte me form styling*/

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #0197ba;
    border-radius: 4px;
    color: black;
    background-color: #ffffff;
}
label {
    font-size: 130%;
}

.message {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #0197ba;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
}

form {
    margin-right: 20%;
    margin-left: 20%;

}

.button {
    background-color: white;
    border: none;
    border-radius: 12px;
    color: #0197ba;
    padding: 16px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button {
    background-color :#0197ba; 
    color: white; 
    border: 2px solid white;
}

.button:hover {
    background-color: white;
    color: #0197ba;
}

